# To ignore Eclipse and/or IntelliJ mess #
bin/
.classpath
.project
/*.iml
/*.ipr
/*.iws
.idea/

# To ignore other potentially unwanted files #
*.psd
*.jar

# To ignore Gradle's building stuff #
.gradle/
build/
